# /etc/udev/rules.d/86-remoteproc-noroot.rules
#
# ReWritten by: Matthijs van Duin
# https://github.com/beagleboard/Latest-Images/issues/23#issuecomment-618263910
#
# identify remoteproc cores on j7...
SUBSYSTEM=="remoteproc", KERNELS=="4d80800000.dsp",  ENV{REMOTEPROC_NAME}="j7-c66_0"
SUBSYSTEM=="remoteproc", KERNELS=="4d81800000.dsp",  ENV{REMOTEPROC_NAME}="j7-c66_1"
SUBSYSTEM=="remoteproc", KERNELS=="5c00000.r5f",     ENV{REMOTEPROC_NAME}="j7-main-r5f0_0"
SUBSYSTEM=="remoteproc", KERNELS=="5d00000.r5f",     ENV{REMOTEPROC_NAME}="j7-main-r5f0_1"
SUBSYSTEM=="remoteproc", KERNELS=="64800000.dsp",    ENV{REMOTEPROC_NAME}="j7-c71_0"
SUBSYSTEM=="remoteproc", KERNELS=="5e00000.r5f",     ENV{REMOTEPROC_NAME}="j7-main-r5f1_0"
SUBSYSTEM=="remoteproc", KERNELS=="5f00000.r5f",     ENV{REMOTEPROC_NAME}="j7-main-r5f1_1"
SUBSYSTEM=="remoteproc", KERNELS=="b004000.rtu",     ENV{REMOTEPROC_NAME}="j7-rtu0_0"
SUBSYSTEM=="remoteproc", KERNELS=="b006000.rtu",     ENV{REMOTEPROC_NAME}="j7-rtu0_1"
SUBSYSTEM=="remoteproc", KERNELS=="b00a000.txpru",   ENV{REMOTEPROC_NAME}="j7-txpru0_0"
SUBSYSTEM=="remoteproc", KERNELS=="b00c000.txpru",   ENV{REMOTEPROC_NAME}="j7-txpru0_1"
SUBSYSTEM=="remoteproc", KERNELS=="b034000.pru",     ENV{REMOTEPROC_NAME}="j7-pru0_0"
SUBSYSTEM=="remoteproc", KERNELS=="b038000.pru",     ENV{REMOTEPROC_NAME}="j7-pru0_1"
SUBSYSTEM=="remoteproc", KERNELS=="b104000.rtu",     ENV{REMOTEPROC_NAME}="j7-rtu1_0"
SUBSYSTEM=="remoteproc", KERNELS=="b106000.rtu",     ENV{REMOTEPROC_NAME}="j7-rtu1_1"
SUBSYSTEM=="remoteproc", KERNELS=="b10a000.txpru",   ENV{REMOTEPROC_NAME}="j7-txpru1_0"
SUBSYSTEM=="remoteproc", KERNELS=="b10c000.txpru",   ENV{REMOTEPROC_NAME}="j7-txpru1_1"
SUBSYSTEM=="remoteproc", KERNELS=="b134000.pru",     ENV{REMOTEPROC_NAME}="j7-pru1_0"
SUBSYSTEM=="remoteproc", KERNELS=="b138000.pru",     ENV{REMOTEPROC_NAME}="j7-pru1_1"

# set permissions and create symlinks
SUBSYSTEM=="remoteproc", ENV{REMOTEPROC_NAME}!="", ACTION=="add", \
        RUN+="/bin/chgrp -R gpio '/sys%p'", \
        RUN+="/bin/chmod -R g=u '/sys%p'", \
        RUN+="/bin/mkdir -p /dev/remoteproc", \
        RUN+="/bin/ln -sT '/sys/class/remoteproc/%k' /dev/remoteproc/%E{REMOTEPROC_NAME}"
